*{
  margin:0;
  padding:0;
  font-family:times;
}
body{
  background:#FDF2E9;
  transition: 0.5s;
  overflow-x:hidden;
}
h1{
  font-size:150px;
  line-height:100px;
}
h2{
  font-size:150px;
  line-height:100px;
  text-align:right;
}
header p{
  width:200px;
  float:right;
  text-align:right;
}
header .paragraph_header{
  width:200px;
  float:left;
  text-align:left;
}
.img_proyects{
  display:inline-block;
  width:100%;
  border:2px dotted #000;
  overflow:hidden;
  position:relative;
}
.img_proyects img{
  width:100%;
}
.info_img{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align:center;
  padding:2rem;
  max-height: 100%;
  position:absolute;
  overflow:auto;
  left:0;
  bottom:0;
  right:0;
  top:0;
  transform:translateX(-100%);
  transition: transform 0.3s ease-in;
}
.img_proyects:hover .info_img{
  transform:translateX(0);
}
.info_img span{
  font-size: 30px;
}
.info_img li{
  list-style:none;
}
.info_img li a{
  color:#000;
  font-size:25px;
}
.info_img li a:hover{
  color:#ccc;
}
h3{
  font-size:50px;
}
.box_skills{
  border:2px #000 dotted;
  width:33%;
  float:left;
  text-align:center;
  transition: .5s;
}
.box_skills ul li{
  list-style:none;
}
.box_skills span{
  font-size:25px;
}
.skills_wow::before{
  content: url(./img/okey.gif);
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  transition: .8s;
}
.skills_wow:hover:before{
  opacity: 1;
}
.main_about{
  border: 2px dotted #000;
  margin-bottom:100px;
  margin-top:100px;
}
.main_about button{
  background:none;
  padding:8px 12px;
  border:1px solid #000;
  transition: .5s;
  margin:20px;
}
.main_about button:hover{
  background:none;
  padding:8px 12px;
  border:5px double #000;
}
.main_about img{
  height:300px;
}
.main_info{
  border:2px #000 dotted;
  width:33%;
  display:inline-block;
  text-align:center;
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: .5s;
}
.main_info_static{
   border:2px #000 dotted;
  width:33%;
  display:inline-block;
  text-align:center;
}
.main_info:hover{
  border:2px #000 solid;
  -ms-transform: rotate(0deg); 
  -webkit-transform: rotate(0deg); 
  transform: rotate(0deg);
}
.main_info button{
  background:none;
  padding:8px 12px;
  border: 1px solid #000;
  color:#000;
}
.main_info button:hover{
  background:orange;
}
/*---------------MENU------------------*/
.overlay {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  z-index: 500;
  transition: 0.5s;
}
.overlay.active{
  right: 0;
}
.overlay ul{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  position: relative;
}
.overlay ul li{
  position: relative;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0;
  overflow: hidden;
}
.overlay ul li a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 4em;
  font-weight: 700;
  font-family: time;
  line-height: 1em;
  padding-top: 12px;
  display: inline-block;
  font-weight: lighter;
}
.overlay ul li a span{
  font-size: 18px;
  margin-right: 40px;
}
.overlay ul li a:hover{
  text-decoration: underline;
}
.iconOpenMenu{
  position:fixed;
  top:20px;
  right:20px;
  z-index:5000;
  transition: 0.5s;
  font-size:50px;
  cursor:pointer;
}
.iconOpenMenu.active{
  color:#fff;
  -ms-transform: rotate(180deg); 
  -webkit-transform: rotate(180deg); 
  transform: rotate(180deg);
}

form input, textarea{
  border: none;
  background: none;
  border-bottom: solid 2px #ccc;  
  padding: 8px 12px;
  margin-top: 50px;
  width:100%;
  color:#fff;
}
form input::placeholder, textarea::placeholder{
  color: #ccc;
}
form input[type="submit"]{
  color:#fff;
  border:2px #fff solid;
}
form input[type="submit"]:hover{
  color:#000;
  background:#fff;
  }
@media screen and (max-width: 1024px){
header p{
  width:100%;
}
h2{
  font-size:80px;
}
.img_proyects{
  width:50%;
  float:left;
}
.box_skills{
  width:48%;
}
.main_info{
  width:48%;
}
.main_info{
  width:50%;
  -ms-transform: rotate(0deg); 
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s;
}
}
@media screen and (max-width: 600px){
h1{
  font-size:80px;
  line-height:80px;
}
h2{
  font-size:60px;
  line-height:60px;
}
header p{
  width:100%;
}
header .paragraph_header{
  width:100%;
}
.img_proyects{
  width:100%;
}
.main_info{
  width:100%;
  -ms-transform: rotate(0deg); 
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.main_info_static{
  width:100%;
}
.skills_wow::before{
  content: url();
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  transition: .8s;
  display:none;
}
.skills_wow:hover:before{
  opacity: 1;
}
form input, textarea{
  margin-top: 10px;
}
.iconOpenMenu{
  font-size:20px;
}
.overlay h2{
  font-size:30px;
}
}
@media screen and (max-width: 400px){
  .box_skills{
  width:100%;
}
}